.textfields{
	width:30rem;
}
.row{
margin:3px;
}
span{
	font-weight:bold;
	font-size:2rem;
}
input[type="submit"]{
color:blue;
width:30rem;
height:6rem;
border:2px solid blue;
border-radius:20%;
background-color:#ff0;
}